{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
<style>
    #grid-layout {
        display: grid;
        grid-template-columns: 4fr 1fr 3fr 3fr;
        grid-template-rows: 70px 192px 221px 80px auto;
        gap: 25px;
    }

    #balance,
    #income,
    #percentage {
        justify-content: center;
        align-content: center;
        background-color: #292929;
    }

    #balance { grid-area: 1 / 1 / 2 / 2; }
    #income { grid-area: 1 / 2 / 2 / 4; }
    #percentage { grid-area: 1 / 4 / 2 / 5; }

    .pie-chart-container {
        grid-area: 2 / 1 / 4 / 3;
        padding: 20px;
    }

    #income_form { grid-area: 2 / 3 / 3 / 5; }
    #expense_form { grid-area: 3 / 3 / 4 / 5; }

    #income_form,
    #expense_form {
        text-align: center;
        gap: 10px;
        padding: 10px;
        background-color: #292929;
        margin: 15px;
        max-width: 100%;
        box-sizing: border-box;
    }

    h5 {
        margin-top: 15px;
    }

    #i_form {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0px;
        padding: 10px;
        margin-right: 20px;
    }

    #i_form .form-row {
        display: grid;
        grid-template-columns: auto auto auto auto; /* Four columns for input fields */
        gap: 7px; /* Space between fields */
    }

    .input-wrapper {
        position: relative;
        max-width: 100%;
        box-sizing: border-box;
    }

    #i_form .input-wrapper {
        width: 150px;
        height: 30px;
        font-size: 14px;
        padding: 4px;
        gap: 7px;
    }

    #e_form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 7px;
        padding: 10px;
        box-sizing: border-box;
    }

    #e_form .form-row {
        display: contents; /* Allow form rows to use grid layout of #e_form */
    }

    /* First row inputs: Amount, Description, Category */
    #e_form .form-row:nth-child(1) .input-wrapper:nth-child(1) {
        grid-column: 1; /* Amount */
    }

    #e_form .form-row:nth-child(1) .input-wrapper:nth-child(2) {
        grid-column: 2; /* Description */
    }

    #e_form .form-row:nth-child(1) .input-wrapper:nth-child(3) {
        grid-column: 3; /* Category */
    }

    /* Second row inputs: Comment and Date */
    #e_form .form-row:nth-child(2) {
        grid-column: 1 / -1; /* Span across all columns */
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center the input fields horizontally */
        gap: 7px; /* Maintain the same gap as in the first row */
    }

    #e_form .form-row:nth-child(2) .input-wrapper {
        width: 205px; /* Ensure consistent width */
        height: 30px;
        font-size: 14px;
    }

    /* Third row: Center the button */
    #e_form .form-row:nth-child(3) {
        grid-column: 1 / -1; /* Span across all columns */
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center the button horizontally */
    }

    #e_form .input-wrapper {
        padding: 3px;
        margin: 0;
        gap: 2px;
        width: 205px;
        height: 30px;
        font-size: 14px;
    }

    .input-wrapper input,
    .input-wrapper select {
        width: 100%; /* Full width inside the wrapper */
        box-sizing: border-box; /* Include padding and borders in the width */
    }

    .button-wrapper {
        grid-column: 1 / -1; /* Span across all columns */
        display: flex;
        justify-content: center; /* Center the button */
        margin-bottom: 13px;
    }

    .button-wrapper button {
        background-color: #00ffc1;
        border: none;
        grid-column: 1 / -1;
        justify-self: center;
        padding: 10px 18px;
        padding-top: 2px;
        font-size: 16px;
        font-weight: bold;
        height: 30px;
        width: auto;
        margin-top: 1px;
    }

    .amount-label,
    .required-category {
        color: #00ffc1;
        font-size: 1.4em;
        margin-bottom: 5px;
        position: absolute;
        top: -8px; /* Adjust as needed */
        right: -7px; /* Adjust as needed */
    }

    #expense_title {
        grid-area: 4 / 1 / 5 / 5;
        font-size: 1.2em;
        background-color: #292929;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        margin: 0;
    }

    #expense_total { margin-left: 100px; }

    #expense_sort {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #expense_sort select,
    #expense_sort button {
        padding: 8px;
        font-size: 16px; /* Reduced font size for sort controls */
        height: 38px; /* Reduced height for sort controls */
    }

    #expense_sort select {
        margin-right: 15px;
        margin-top: 10px;
        height: 35px;
        width: auto;
        border: none;
    }

    #expense_sort button {
        margin-right: 30px;
        margin-top: 10px;
        padding-bottom: 30px;
        width: 110px;
        height: 35px;
        background-color: #00ffc1;
        border: none;
        font-weight: bold;
    }

    #expenses_table {
        grid-area: 5 / 1 / 6 / 5;
        max-height: 450px;
        height: auto;
        overflow-y: auto;
        margin: 0;
        padding: 0;
    }

    th {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }

    p {
        font-size: 18px;
        color: #00ffc1;
    }

</style>
{% endblock %}

{% block main %}
<div id="grid-layout">
    <div id="balance" class="border rounded custom-shadow">
        <strong>{{ formatted_month }} <span style="color: #00ffc1">Balance</span>:</strong> {{ balance }} €
    </div>

    <div id="income" class="border rounded custom-shadow">
        {% if income_total > 0 %}
            <strong>{{ formatted_month }} <span style="color: #00ffc1">Income Total</span>:</strong> {{ income_total }} €
            ({{ percentage }} % remaining)
        {% else %}
            <strong>Enter Income</strong>
        {% endif %}
    </div>

    <div id="percentage" class="border rounded custom-shadow">
        {% if income_total > 0 %}
            <strong>{{ formatted_month }} <a href="/view_income">Incomes Table</a></strong>
        {% else %}
            <strong>{{ formatted_month }}<span style="color: #00ffc1"> Expenses</span>:</strong> {{ expense_total }} €
        {% endif %}
    </div>

    <div class="pie-chart-container">
        {% if has_expenses %}
            <canvas id="pieChart" width="400" height="400"></canvas>
        {% else %}
            <p>No expenses to display for this month.</p>
        {% endif %}
    </div>

    <div id="income_form" class="border rounded custom-shadow">
        <h5><strong>Add an Income</strong></h5>
        <form id="i_form" method="POST" action="/add_income">
            <div class="form-row">
                <div class="input-wrapper">
                    <input type="number" id="amount" name="amount" placeholder="Amount (required)" step="0.01" required>
                    <label for="amount" class="amount-label">*</label>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="source" name="source" placeholder="Source">
                </div>

                <div class="input-wrapper short-input">
                    <input type="text" id="comment" name="comment" placeholder="Comment">
                </div>
                <div class="input-wrapper">
                    <input type="date" id="date" name="date">
                </div>
            </div>
            <div class="form-row">
                <div class="button-wrapper">
                    <button type="submit">Add Income</button>
                </div>
            </div>
        </form>
    </div>

    <div id="expense_form" class="border rounded custom-shadow">
        <h5><strong>Add an Expense</strong></h5>
        <form id="e_form" action="/add_expense" method="post">
            <div class="form-row">
                <div class="input-wrapper">
                    <input type="number" step="0.01" name="amount" placeholder="Amount (required)" required>
                    <label for="amount" class="amount-label">*</label>
                </div>

                <div class="input-wrapper">
                    <input type="text" name="description" placeholder="Description">
                </div>

                <div class="input-wrapper">
                    <select name="category" id="category" required>
                        <option value="" disabled selected>Select a category (required)</option>
                        <option value="Housing">Housing</option>
                        <option value="Bills & Utilities">Bills & Utilities</option>
                        <option value="Food">Food</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Shopping">Shopping</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Others">Others</option>
                    </select>
                    <label for="category"><span class="required-category">*</span></label>
                </div>
            </div>

            <div class="form-row">
                <div class="input-wrapper">
                    <input type="text" name="comment" placeholder="Comment">
                </div>

                <div class="input-wrapper">
                    <input type="date" name="date">
                </div>
            </div>

            <div class="form-row">
                <div class="button-wrapper">
                    <button type="submit">Add Expense</button>
                </div>
            </div>
        </form>
    </div>

    <div id="expense_title" class="border rounded custom-shadow">
        <div id="expense_total">
            <strong>{{ formatted_month }} <span style="color: #00ffc1">Expenses</span>:</strong> {{ expense_total }} €
        </div>

        <div id="expense_sort">
            <form method="get" action="/dashboard">
                <select name="order_by">
                    <option value="date">Date</option>
                    <option value="category">Category</option>
                </select>
                <button type="submit">Sort</button>
            </form>
        </div>
    </div>

    <div id="expenses_table" class="border rounded custom-shadow">
      {% if has_expenses %}
        <table class="table table-dark table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.date }}</td>
                        <td>{{ expense.amount }} €</td>
                        <td>{{ expense.description }}</td>
                        <td>{{ expense.comment }}</td>
                        <td>{{ expense.category }}</td>
                        <td>
                            <form method="POST" action="/delete_expense/{{ expense.id }}" style="display:inline;">
                                <input type="hidden" name="source" value="dashboard">
                                <button type="submit" class="btn-delete">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      {% else %}
        <p>No expenses recorded for this month.</p>
      {% endif %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Pie Chart
    const pieChartData = {
        labels: [{% for category in categories.keys() %}'{{ category|safe }}'{% if not loop.last %},{% endif %}{% endfor %}],
        datasets: [{
            data: [{% for total in categories.values() %}{{ total }}{% if not loop.last %},{% endif %}{% endfor %}],
            backgroundColor: ['#ed0707', '#ed0767', '#b307ed', '#5407ed', '#3e95cd', '#ffcc00', '#ed6707'],
            borderColor: 'black',
            borderWidth: 0.5
        }]
    };

    const pieCtx = document.getElementById('pieChart').getContext('2d');
    new Chart(pieCtx, {
        type: 'pie',
        data: pieChartData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            elements: {
                arc: {
                    borderWidth: 0
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Expenses by Category',
                    color: '#ccc',
                    font: {
                        size: 18
                    },
                    padding: {
                        top: 10, // Increase the space above the title
                        bottom: 40 // Increase the space below the title (if needed)
                    }
                },
                legend: {
                    display: true,
                    position: 'left',
                    labels: {
                        color: '#ccc',
                        boxWidth: 20,
                        padding: 20,
                        font: {
                            size: 14
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock %}

