{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block main %}
        <br>
        <h2 id="welcome-text">Welcome to</h2>
        <h2 id="tracker-text"><span style="color: #ed0707">E</span>
            <span style="color: #ed0767">X</span>
            <span style="color: #b307ed">P</span>
            <span style="color: #5407ed">E</span>
            <span style="color: #3e95cd">N</span>
            <span style="color: #ffcc00">S</span>
            <span style="color: #ed6707">E</span>
            &nbsp;
                <span>T</span>
                <span>R</span>
                <span>A</span>
                <span>C</span>
                <span>K</span>
                <span>E</span>
                <span>R</span></h2>
        <br><br><br>
        <h5>Please <a href="/login">log in</a> to view your dashboard.</h5><br>
        <h5>New users can <a href="/register">register here</a>.</h5>

{% endblock %}


