{% extends "layout.html" %}

{% block title %}Income{% endblock %}

{% block head %}

    <style>

        #grid-layout {
            display: grid;
            grid-template-columns: 100px 1fr 100px;
            grid-template-rows: 80px auto;
            gap: 20px;
        }

        #total {
            font-size: 20px;
            justify-content: center;
            align-content: center;
            background-color: #292929;
            grid-area: 1 / 1 / 2 / 4;
        }

        #income_table {
            grid-area: 2 / 1 / 3 / 4;
            max-height: 500px;
            overflow-y: auto;
        }

        th {
            position: sticky;
            top: 0;
            background-color: white; /* or any other background color */
            z-index: 1;
        }

        p {
            font-size: 18px;
            color: #00ffc1;
        }
    </style>

{% endblock %}

{% block main %}

        <div id="grid-layout">

            <div id="total" class="border rounded custom-shadow">
                <strong>{{ formatted_month }} <span style="color: #00ffc1">Income Total</span>:</strong> {{ income_total }} €
            </div>

            <div id="income_table" class="border rounded custom-shadow">
              {% if incomes %}
                <table class="table table-dark table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Source</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in incomes %}
                        <tr>
                            <td>{{ income.date }}</td>
                            <td>{{ income.amount }} €</td>
                            <td>{{ income.source }}</td>
                            <td>{{ income.comment }}</td>
                            <td>
                                <form method="POST" action="/delete_income/{{ income.id }}" style="display:inline;">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              {% else %}
                <p>No income records available for this month.</p>
              {% endif %}
            </div>
        </div>

{% endblock %}
